
.panel.panel-default
	.row
		.col-md-8.col-md-offset-2
			.panel.panel-header
				%h2 Log In 
			.panel.panel-body
				= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
					.form-inputs
						=f.input :email, required: false, autofocus: true
						=f.input :password, required: false
						=f.input :remember_me, as: :boolean if devise_mapping.rememberable?
					.form-actions 
					.panel.panel-footer
						=f.button :submit, "Log in"
						%br/
						= render "devise/shared/links" 
