.panel.panel-default
	
	.row
		.col-md-6.col-md-offset-3

			.panel.panel-header
				%h1 Update post 

			.panel.panel-body			
				=render 'form'

			.panel.panel-footer
				=link_to "Cancel", post_path, class: "btn btn-default"