
#post-masonry-container.transitions-enabled
	- @posts.each do |post| 
		.box-masonry.panel.panel-default
			= link_to (image_tag post.image.url(:medium)), post
			.panel-body
				%h2= link_to post.title, post
			.panel-footer
				.time-text
					%p
					Created at: 
					= post.created_at.strftime("%Y-%m-%d")
