// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#post-masonry-container {
	margin: 0 auto;
	width: 100%;
}

.box-masonry {
	margin: 5px;
	background-color: #66ffff;
	width: 300px;
	height: 450px;
}

.box-image-masonry {
	width: 100%;
}


.box-img-masonry {
	cursor: pointer;
	opacity: 0.8;
}

.box-img-masonry:hover {
	opacity: 1;
	transition: 1s;
}
